html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    cursor: url("img/cursor.png"), auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img, svg{
    display: block;
    max-width: 100%;
}
.wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #ffffff url('img/bg.png') center bottom no-repeat;
    background-size: cover;
    overflow: hidden;
}
.wrapper:before{
    content: "";
    position: absolute;
    bottom: 64px;
    left: 50%;
    width: 1731px;
    height: 104px;
    margin-left: -895px;
    background: transparent url('img/bg-bushes.png') center bottom no-repeat;
    background-size: contain;
    z-index: 100;
}
.dicount{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #7351AC;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A5D;
    text-decoration: none;
    background: -o-linear-gradient(357.85deg, #DE4F45 15.86%, #E59A30 91.06%), #E7A129;
    background: linear-gradient(92.15deg, #DE4F45 15.86%, #E59A30 91.06%), #E7A129;
    cursor: pointer;
}
.btn:hover{
    background: -o-linear-gradient(357.85deg, #E59A30 15.86%, #DE4F45 91.06%), #E7A129;
    background: linear-gradient(92.15deg, #E59A30 15.86%, #DE4F45 91.06%), #E7A129;
}
/*topline*/
.topline{
    position: relative;
}
.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.heading{
    padding-top: 30px;
    font-family: 'Creepster', cursive;
    font-size: 64px;
    line-height: 1em;
    text-align: center;
    color: #E7A328;
}
/*tower*/
.tower{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 260px;
    /*height: 686px;*/
    height: 75vh;
    margin-left: -130px;
    background: transparent url('img/tower.png') center bottom no-repeat;
    background-size: contain;
    z-index: 99;
}
.tower-window{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 100;
}
.tower-window__door{
    width: 100%;
    height: 100%;
    background: transparent url('img/door.svg') center center no-repeat;
    background-size: contain;
}
.tower-window__door_opened:after{
    content: "";
    position: absolute;
    left: -55%;
    bottom: 0;
    width: 61%;
    height: 104%;
    background: transparent url('img/door-opened.svg') center center no-repeat;
    background-size: contain;
}
.tower-window__door_opened{
    background: none;
}
.tower-window--1 .tower-window__door{
    background: transparent url('img/door-1.svg') center center no-repeat;
    background-size: contain;
}
.tower-window--1 .tower-window__door_opened{
    background: none;
}
.tower-window--1 .tower-window__door_opened:after{
    content: "";
    position: absolute;
    left: -75%;
    bottom: 10%;
    width: 81%;
    height: 75%;
    background: transparent url(img/door-1-opened.svg) center center no-repeat;
    background-size: contain;
}
.tower-window--1{
    top: 7%;
    width: 12%;
    height: 5%;
    margin-left: 2%;
}
.tower-window--2{
    top: 15%;
    width: 13%;
    height: 6%;
}
.tower-window--3,
.tower-window--4,
.tower-window--5,
.tower-window--6,
.tower-window--7{
    width: 20%;
    height: 8%;
}
.tower-window--3{
    top: 26.5%;
}
.tower-window--4{
    top: 38.8%;
}
.tower-window--5{
    top: 51.1%;
}
.tower-window--6{
    top: 63.5%;
}
.tower-window--7{
    top: 75.9%;
}
/*monsters*/
.monster{
    display: none;
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.monster_visible{
    display: flex;
}
.tower-window--1 .monster{
    width: 150%;
    animation: suicideGuy 6s linear 0s alternate 1 forwards;
}
.tower-window--5 .monster{
    width: 250%;
}
/*elements*/
.cloud-1,
.cloud-2,
.witch,
.casper-1,
.casper-2{
    position: absolute;
    z-index: 1;
}
.casper-1{
    top: 353px;
    left: 412px;
    animation: casperOne 15s linear 0s alternate infinite forwards;
}
.casper-2{
    top: 496px;
    right: 416px;
    animation: casperTwo 15s linear 0s alternate infinite forwards;
}
.cloud-1{
    top: 178px;
    left: 368px;
    animation: cloudOne 15s linear 0s alternate 1 forwards;
}
.cloud-2{
    top: 108px;
    right: 364px;
    animation: cloudTwo 15s linear 0s alternate 1 forwards;
}
.witch{
    position: absolute;
    top: 296px;
    right: -100px;
    animation: witchFly 10s linear 5s alternate 1 forwards;
}
.helper{
    position: absolute;
    top: -999px;
    left: -999px;
    max-width: 170px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    z-index: 102;
}
/*animations*/
/*monster 1*/
@keyframes suicideGuy {
    0%{
        bottom: 0;
        left: 50%;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    20%{
        bottom: 50%;
        left: -170%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%,100%{
        bottom: -75vh;
        left: -150%;
    }
}
@-o-keyframes suicideGuy {
    0%{
        bottom: 0;
        left: 50%;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    20%{
        bottom: 50%;
        left: -170%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%,100%{
        bottom: -75vh;
        left: -150%;
    }
}
@-moz-keyframes suicideGuy {
    0%{
        bottom: 0;
        left: 50%;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    20%{
        bottom: 50%;
        left: -170%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%,100%{
        bottom: -75vh;
        left: -150%;
    }
}
@-webkit-keyframes suicideGuy {
    0%{
        bottom: 0;
        left: 50%;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    20%{
        bottom: 50%;
        left: -170%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%,100%{
        bottom: -75vh;
        left: -150%;
    }
}
/*caspers*/
@keyframes casperOne {
    0%{
        top: 353px;
        left: 412px;
    }
    50%{
        top: 253px;
        left: 312px;
    }
    100%{
        top: 403px;
        left: 462px;
    }
}
@-o-keyframes casperOne {
    0%{
        top: 353px;
        left: 412px;
    }
    50%{
        top: 253px;
        left: 312px;
    }
    100%{
        top: 403px;
        left: 462px;
    }
}
@-moz-keyframes casperOne {
    0%{
        top: 353px;
        left: 412px;
    }
    50%{
        top: 253px;
        left: 312px;
    }
    100%{
        top: 403px;
        left: 462px;
    }
}
@-webkit-keyframes casperOne {
    0%{
        top: 353px;
        left: 412px;
    }
    50%{
        top: 253px;
        left: 312px;
    }
    100%{
        top: 403px;
        left: 462px;
    }
}
@keyframes casperTwo {
    0%{
        top: 496px;
        right: 416px;
    }
    50%{
        top: 396px;
        right: 316px;
    }
    100%{
        top: 446px;
        right: 466px;
    }
}
@-o-keyframes casperTwo {
    0%{
        top: 496px;
        right: 416px;
    }
    50%{
        top: 396px;
        right: 316px;
    }
    100%{
        top: 446px;
        right: 466px;
    }
}
@-moz-keyframes casperTwo {
    0%{
        top: 496px;
        right: 416px;
    }
    50%{
        top: 396px;
        right: 316px;
    }
    100%{
        top: 446px;
        right: 466px;
    }
}
@-webkit-keyframes casperTwo {
    0%{
        top: 496px;
        right: 416px;
    }
    50%{
        top: 396px;
        right: 316px;
    }
    100%{
        top: 446px;
        right: 466px;
    }
}
/*clouds*/
@keyframes cloudOne {
    0%{
        left: 368px;
    }
    100%{
        left: 668px;
    }
}
@-o-keyframes cloudOne {
    0%{
        left: 368px;
    }
    100%{
        left: 668px;
    }
}
@-moz-keyframes cloudOne {
    0%{
        left: 368px;
    }
    100%{
        left: 668px;
    }
}
@-webkit-keyframes cloudOne {
    0%{
        left: 368px;
    }
    100%{
        left: 668px;
    }
}
@keyframes cloudTwo {
    0%{
        right: 364px;
    }
    100%{
        right: 664px;
    }
}
@-o-keyframes cloudTwo {
    0%{
        right: 364px;
    }
    100%{
        right: 664px;
    }
}
@-moz-keyframes cloudTwo {
    0%{
        right: 364px;
    }
    100%{
        right: 664px;
    }
}
@-webkit-keyframes cloudTwo {
    0%{
        right: 364px;
    }
    100%{
        right: 664px;
    }
}
/*witch*/
@keyframes witchFly {
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}
@-moz-keyframes witchFly {
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}
@-o-keyframes witchFly {
    0%{
        right: -100px;
    }
    100%{
        right: 100%;
    }
}
@-webkit-keyframes witchFly {
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}
/*modals*/
.modal{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F0E9F4;
    box-shadow: -4px 4px 20px rgba(39, 38, 82, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: default;
    z-index: 999;
}
.modal_opened{
    display: flex;
}
.modal-discount{
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 300px;
    height: 237px;
    padding: 34px 47px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal-lose{
    width: 340px;
    height: 176px;
    padding: 23px 18px 29px 18px;
}
.modal-lose:after{
    content: "";
    position: absolute;
    top: 15px;
    right: -25px;
    width: 0;
    height: 0;
    border-top: 23px solid #F0E9F4;
    border-right: 26px solid transparent;
}
.tower-window--7 .modal-lose:after{
    top: auto;
    bottom: 15px;
    border-top: none;
    border-bottom: 23px solid #F0E9F4;
    border-right: 26px solid transparent;
}
.tower-window--1 .modal-lose{
    top: -50px;
    right: 130px;
}
.tower-window--3 .modal-lose,
.tower-window--5 .modal-lose{
    top: 0;
    right: 80px;
}
.tower-window--7 .modal-lose{
    bottom: 10px;
    right: 80px;
}
.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.modal__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #2B2A5D;
}
.modal-lose .modal__title{
    font-size: 18px;
    line-height: 21px;
}
.modal__text{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #2B2A5D;
}
/*bottomline*/
.bottomline{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px 15px;
    background-color: #F0E9F4;
    z-index: 998;
}
.bottomline-item{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bottomline-item_current{
    display: flex;
}
.bottomline-item__text{
    margin-right: 48px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2B2A5D;
}